/* 全体 */

body {
  background: #eeeeee;
  margin: 40px calc(50% - 640px);
  font-family: 'Noto Sans JP', sans-serif;
}

/* main - left - top*/

.main {
  display: flex;
  justify-content: space-between;
}

.main_corp {
  margin: -25px 0 0 55px;
  font-family: 'Chivo', sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #305dff;
}

/* main - left - title */

.main__left{
  width: 76%;
}

.main__left-guide{
  margin: 40px 0 30px ;
}

.main__left-guide-back{
  background: white;
  padding: 5px 5px;
  width: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
  text-align: center;
  vertical-align: middle ;
  display: inline-block;
  margin-top: -15px;
}

.main__left-guide-back a{
  text-decoration: none;
  font-size:20px;
}

.main__left-store{
  font-size: 28px;
  font-weight: 500;
  display: inline-block;
  margin: 20px 0 0 10px;
}

/* main - left  - down*/

.main__left-detail{
  width: 85%;
}

.main__left-detail img{
  width: 100%;
  display: inline-block;
}

.main__left-detail-key{
  padding: 30px 0;
  color: #3f3f3f;
}

.main__left-detail-content{
  color: #3f3f3f;
  line-height:25px;
}

/* main - left - review */
.main__left-review{
  margin: 20px 0 0 0;
}

.main__left-review-card{
  background: #FFF5E5;
  border-radius: 5px;
  width: 82%;
  margin: 5px 0;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 14px;
}

.main__left-review-card-tle{
  padding: 5px 0 10px;
}

.main__left-review-page{
  width: 85%;
  text-align: center;
  margin: 15px 0;
}

.main__left-review-card-head{
  display: flex;
  align-items: center;
}

.main__left-review-card-head-right {
  margin: 0 15px;
  display: flex;
  align-items: center;
}

.main__left-review-card-head-right-star{
  height: 25px;
  margin: 0 0 0 15px;
  display: flex;
}

.main__left-review-card-head-right-star img{
  height: 100%;
  display: inline-block;
}

.main__left-review-card-comment{
  margin: 10px 0 0 10px;
  width: 95%;
  padding: 10px 10px;
  line-height: 125%;
}

/* main -right */

.main__right{
  width: 800px;
  position: relative;
}

.main__right-form{
  color: white;
  border-radius: 5px 5px 0 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
  background: #305dff;
  padding: 30px 30px;
  height: min(calc(100% - 115px), calc(100vh - 223px));
}

.main__right-form-tle{
  font-size: 23px;
}

.main__right-form input{
  width: 150px;
  border-radius: 5px;
  border:1px solid #cfcfcf;
  margin: 25px 0 5px;
  padding: 5px 10px;
  display: block;
  color: #3f3f3f;
}

.main__right-form select {
  width: 93%;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  margin: 15px 0 5px;
  padding: 7px 10px;
  height: 32px;
  display: block;
  color: #3f3f3f;
  background: white;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../images/down16.jpg);
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 13px 13px;
}

.main__right-form-result{
  width: 90%;
  background: #4d7fff;
  border-radius: 5px;
  margin-top: 20px;
}

.main__right-form-result-box{
  padding: 20px 20px;
}

.main__right-form-result-box-line{
  padding: 7px 5px;
}

.main__right-form-result-box-line label{
  display:inline-block;
  width: 100px;
}

.main__right-form-result-box-line p{
  display: inline-block;
}

.main__right-form button {
  background: #0d40ff;
  padding: 15px 30px;
  width: 100% ;
  color: white;
  font-size: 16px;
  position: absolute;
  top: min(calc(100% - 55px), calc(100vh - 163px));
  left: 0;
  border-radius: 0 0 5px 5px;
  outline: none;
  border:none ;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
}

.main__right-form button:hover{
  background: blue;
  color: yellow;
}

.main__right-form-error{
  color: #FF66FF;
  font: bold;
  padding: 30px 0px 30px 25px ;
}

.main__right-form-error li{
  padding: 5px 0;
}

/* pagenation */

.pagination {
  display: flex;
  padding-right: 0;
  list-style: none;
  justify-content: center;
}

.page-item:not(:first-child) .page-link {
  margin-left: -1px;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-link {
  padding: 0.375rem 0.75rem;
}

.page-item:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

@media screen and (max-width:1360px) {
  body {
    margin: 40px 40px;
  }
}

@media screen and (max-width:1060px) {
  body {
      margin: 40px calc(50vw - 320px);
  }

  .main {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
  }

  .main__left {
    width: 100%;
  }

  .main__left-detail {
    width: 100%;
  }

  .main__left-review-page{
    width:100%;
  }


  .main__left-review-card-comment {
    width: 95%;
  }

  .main__left-review-card {
    width: 95%;
  }

  .main__right {
    margin-top: 50px;
    width: 100%;
  }

  .main__right-form button {
    top: 100%;
  }
}

@media screen and (max-width:720px) {
  body {
    margin: 40px 40px;
  }
}

@media screen and (max-width:490px) {
  body {
    margin: 40px 0px;
  }

  .main__left-symbol {
    margin-left: 20px;
  }

  .main__left-guide{
    margin-left: 20px;
  }

  .main__left-detail-key{
    margin-left: 5px;    
  }

  .main__left-detail-content{
    margin: 0 5px;
  }

  .main__left-review-card {
    width: calc(100%-20px);
    margin: 5px auto;
    padding: 10px 10px;
  }

  .main__left-review-card-head{
    flex-flow: column;
    align-items: flex-start;
    justify-content:flex-start;
  }

  .main__left-review-card-comment{
    margin: 10px 0 0 5px;
    padding: 10px 5px;
  }
}

@media screen and (max-width:345px) {
  .main__left-review-card-head-right{
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px 0px;
  }

  .main__left-review-card-head-right-star{
    margin:0;
    padding: 5px 0;
  }

  .main__left-review-card-comment{
    margin: 0;
  }

  .main__right-form select {
    width: 100%;
  }

  .main__right-form-result {
    width: 100%;
  }

  .main__right-form-result-box-line label {
    width: 80px;
  }

}