/* 全体 */

body {
  background: #eeeeee;
  margin: 30px calc(50% - 750px);
  font-family: 'Noto Sans JP', sans-serif;
}

/* header */

.header {
  margin: 0 auto 20px;
}

.header__mark{
  margin-left:0;
}

.header__mark-corp {
  margin: -25px 0 0 65px;
  font-family: 'Chivo', sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #305dff;
}

/* main */

.customer{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0 50px;
}

/* items */

.items{
  width: 1440px;
  margin: 0 auto;
}

.items__tle{
  font-size: 23px;
  font-weight: 600;
  width: 100%;
}

.items__list{
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
}

.items__list-card{
  background: #305dff;
  border-radius: 7px;
  padding: 30px 30px;
  color: white;
  width: 400px;
}

.items__list-card-top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.items__list-card-top-tle{
  display: inline-block;
}

.items__list-card-top-tle-img{
  display: inline-block;
}

.items__list-card-top-tle-img img{
  width: 15%;
  display:inline-block;
  cursor: pointer;
}

.items__list-card-top-left-icon{
  display:inline-block;
  width: 30px;
  height: 30px;
  position: relative;
}

.items__list-card-top-left-icon img{
  width: 100%;
  display: inline-block;
}

.items__list-card-top-left p{
  display: inline-block;
  margin: 0 0 0 30px;
  font-size: 16px;
  font-weight: normal;
  width: 50px;
  height: 35px;
  vertical-align: middle ;
}

/* Listing */

.items__list-card-line,
.items__list-card-lne2,
.items__list-card-lne3{
  padding: 12px 0 ;
  display: flex;
}

.items__list-card-line label{
  display: inline-block;
  width: 100px;
}

.items__list-card-line p {
  display: inline-block;
  width: 70%;
}

.items__list-card-lne2-lbl{
  display: inline-block;
  width: 100px;
  align-items: center;
  margin-top: 5px;
}

.items__list-card-lne2-star{
  width: 70%;
}

.items__list-card-lne2-star-img{
  display:inline-block;
  width:30px;
  height:30px;
}

.items__list-card-lne3-lbl {
  display: inline-block;
  width: 100px;
  height: 75px;
  vertical-align: top;
}

.items__list-card-lne3 textarea{
  width: 74%;
  height: 75px;
  border-radius: 5px ;
}

.items__list-card-lne3-comment {
  height: 75px;
  width: 75%;
  line-height:125%;
}

.items__list-card-btn{
  padding-top: 20px;
  display:flex;
  justify-content: space-between;
}

.items__list-card-btn button{
  width: 80px;
  height: 30px;
  border-radius:5px ;
  font-size: 12px;
  border:1px solid grey;
  box-shadow: 1px 1px 1px gray;
}

.items__list-card-btn button:hover {
  background: lightyellow;
}


@media screen and (max-width:1559px) {
  body {
    margin: 30px calc(50% - 475px);
  }

  .items {
    width: 950px;
  }
}

@media screen and (max-width:1069px) {
  body {
    margin: 30px calc(50% - 225px);
  }
  
  .items {
    width: 450px;
  }
}

@media screen and (max-width:519px) {
  body {
    margin: 30px 0;  
  }

  .header{
    margin: 0 0 20px 30px;
  }
  
  /*
  .items__tle{
    padding-left:10px;
  }

  .items__list{
    width: 84%;
  }

  .items__list-card {
    width: 100%;
    margin-left: 0px;
  }

  .items__list-card-lne3 textarea {
    width: 70%;
    height: 75px;
    border-radius: 5px;
  }

  .items__list-card-lne3-comment {
    height: 75px;
    width: 70%;
    line-height: 125%;
  }*/
}

@media screen and (max-width:459px) {
  .items {
    width: 100%;
  }

  .items__list-card-lne3-comment {
    height: auto;
    line-height: 125%;
  }
}

@media screen and (max-width:319px) {
  .items__list-card {
    padding: 20px 20px;
  }

  .items__list-card-line label {
    display: inline-block;
    width: 90px;
  }

  .items__list-card-lne2-lbl {
    width: 90px;
    margin: 5px 0 0 0;
  }

  .items__list-card-lne2-star {
    margin-left: 10px;
    width: 100%;
  }

  .items__list-card-lne3-lbl {
    width: 90px;
    height: 100px;
  }

  .items__list-card-lne3 textarea {
    width: 75%;
    height: 100px;
    border-radius: 5px;
  }

  .items__list-card-lne3-comment {
    width: 75%;
    line-height: 125%;
  }
}