/* 全体 */

body{
  background: #eeeeee;
  margin: 30px calc(50vw - 790px);
  font-family: 'Noto Sans JP', sans-serif;
}

/* header */

.header{
  display:flex ;
  justify-content: space-between;
  margin: 0 auto 20px;
}

.header__corp{
  margin: -25px 0 0 65px;
  font-family: 'Chivo', sans-serif;
  font-size: 35px;
  font-weight: 700;
  color : #305dff;
}

.header__right{
  display: flex;
}

.header__right-box{
  padding: 3px;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
  vertical-align: middle;
}

.header__right-box-select{
  font-size: 15px;
  padding: 7px 0 7px 10px;
  border:none;
  display: inline-block;
  width: 100px;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../images/down16.jpg);
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-color: white;
  font-size: 13px; 
  position: relative;
  border-right: 1px solid #efefef;
  color: #2f2f2f;
}

.header__right-box-inp{
  display:inline-block;
}

.header__right-box-inp img {
  width: 20px;
  height: 20px;
  vertical-align : middle ;
  color:rgba(0, 0, 0, 0.45);
  margin-left: 3px;
}

.header__right-box-inp input {
  font-size: 14px;
  margin-left: 5px;
  border: none;
  height: 40px;
  display: inline-block;
  width: 350px;
  outline: none;
}

/* main list */

.list{
  display: flex;
  flex-wrap: wrap;
  gap: 25px 15px;
  width: 1560px;
  margin: 0 auto;
}

@media screen and (max-width:1619px) {
  body {
    margin: 30px calc(50vw - 630px);
  }

  .list {
    width: 1245px;
  }
}

@media screen and (max-width:1304px) {
  body {
    margin: 30px calc(50vw - 475px);
  }

  .list {
    width: 930px;
  }
}

@media screen and (max-width:989px) {
  body {
    margin: 30px calc(50vw - 315px);
  }

  .header {
    flex-flow: column;
    width:100%;
  }

  .header__right {
    width: 100%;
  }

  .header__right-box {
    margin: 10px 0 0 0;
  }

  .header__right-box-select {
    width: 110px;
  }

  .header__right-box-inp input {
    width: 340px;
  }

  .list {
    width: 615px;
  }
}

@media screen and (max-width:675px) {
  body {
    margin: 30px calc(50vw - 150px);
  }

  .header__right-box{
    margin: 20px auto 10px;
  }

  .header__right-box-select{
    width: 49.2%;
  }

  .header__right-box-select:nth-of-type(2){
    border-right: none;
  }

  .header__right-box-inp{
    width: 100%;
    position: relative;
  }
  
  .header__right-box-inp:before {
    content: "";
    display: inline-block;
    width: 97%;
    height: 1px;
    background-color: #efefef;
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .list {
    width:300px;
  }

  .header__right-box-inp input {
    width: calc(100% - 50px);
  }
}

@media screen and (max-width:360px) {
  body {
    margin: 30px 0;
  }

  .header {
    width: 300px;
  }

  .header__left{
    margin-left: calc(170px - 50%)
  }
}


@media screen and (max-width:300px) {
  .header {
    width: 100%;
  }

  .header__right-box-select {
    width: 99.2%;
    border-right: none;
    height: 33px;
  }

  .header__right-box-select:nth-of-type(2) {
    margin-top : 3px;
    height: 30px;
  }

  .header__right-box-inp:before {
    content: "";
    display: inline-block;
    width: 97%;
    height: 1px;
    background-color: #efefef;
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .header__right-box-inp:after {
    content: "";
    display: inline-block;
    width: 97%;
    height: 1px;
    background-color: #efefef;
    position: absolute;
    top: -33px;
    left: 5px;
  }

  .list{
    width:100%;
  }

}