/* index */

body {
  background: #eeeeee;
  margin: 30px 100px;
  font-family: 'Noto Sans JP', sans-serif;
}


/* header */

.header {
  display: flex;
  margin: 0 auto 20px;
}

.header__corp {
  margin: 13px 0 0 30px;
  font-family: 'Chivo', sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #305dff;
}

/* main */

.main{
  margin: 0 auto;
}

.main__box{
  width: 400px;
  position: absolute;
  left: calc(50% - 200px);
  top: 250px;
  border-radius: 7px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.45);
}

.main__box-tle{
  background: #305dff;
  border-radius: 7px 7px 0 0;
  padding: 20px 0 20px 20px;
  color: white;
  font-weight: normal;
  font-size: 16px;
}

.main__box-inp{
  background: white;
  border-radius: 0 0 7px 7px;
  border:1px #cfcfcf solid;
}

.main__box-inp-email{
  margin: 10px 0 0 30px ;
}

.main__box-inp-pwd {
  margin: 0 0 0 30px;
}

.main__box-inp-email input,
.main__box-inp-pwd input{
  border:none ;
  border-bottom: 1px #0f0f0f solid;
  display: inline-block;
  width: 82%;
  padding: 10px 0px 3px ;
  margin: 10px 20px 10px 5px;
  font-size: 15px;
  outline: none;
}

.main__box-inp-email img,
.main__box-inp-pwd img {
  margin-top: 5px;
  display:inline;
  height: 27px;
  width: 27px;
  vertical-align: middle;
}

/*.main__box-inp-pwd img {
  margin-top: 5px;
  display: inline;
  height: 27px;
  width: 27px;
  vertical-align: middle;
}*/

.main__box-btn{
  text-align: right;
  padding: 20px 30px;
}

.main__box-btn button{
  padding:5px 15px;
  border: none ;
  background: #305dff;
  color: white;
  border-radius: 5px;
}

.main__box-btn button:hover {
  background: blue;
  color: yellow;
}

.main__box-error {
  color: red;
  width: 80%;
  margin: 15px 10px 5px 50px;
}

.main__box-error li {
  padding: 5px 0 0 0;
  line-height: 25px;
}