/* 全体 */

body{
  background: #eeeeee;
  margin: 30px 100px;
  font-family: 'Noto Sans JP', sans-serif;
}

/* header */

.header{
  margin: 0 auto 30px;
}

.header__mark-corp{
  margin: -25px 0 0 65px;
  font-family: 'Chivo', sans-serif;
  font-size: 35px;
  font-weight: 700;
  color : #305dff;
}

/* store */

.store {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0 25px;
}

.store p:nth-child(2){
  margin-left: 5px;
}

/* main */

.main {
  width: 740px;
  margin: 0 auto;
  overflow-y: auto;
  background: #305dff;
  border-radius: 5px;
  color: white;
  padding: 50px;
}

.main__btn{
  width:100%;
  display:flex;
  justify-content: space-between;
  padding: 0 0 35px 0;
}

.main__btn-savebtn{
  background: white;
  background-image: url(../images/save.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 3px;
}

.main__btn-sendbtn {
  background: white;
  background-image: url(../images/mailing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 3px;
}

.main__input-line{
  display: flex ;
}

.main__input-line:nth-child(2),
.main__input-line:nth-child(3) {
  margin-top: 15px;
}

.main__input-line label{
  width: 70px;
}

.main__input-line:nth-child(3) label {
  width: 80px;
}

.main__input-line input {
  width: 90%;
  height: 22px;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  padding-left: 5px;
  font-size: 13px;
}

.main__input-line textarea {
  width: 90%;
  height: 360px;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  padding-left: 5px;
  font-size: 13px;
}

.main__input-line:nth-child(3) p{
  display: inline-block;
}

@media screen and (max-width:1020px) {
  body {
    margin: 30px calc(50vw - 420px);
  }
}

@media screen and (max-width:900px) {
  body {
    margin: 30px 30px;
  }

  .main {
    padding: calc(50% - 370px);
  }
}

@media screen and (max-width:820px) {
  body {
    margin: 30px 20px;
  }

  .main {
    padding: 20px;
    width: calc(100% - 40px);
  }
}

@media screen and (max-width:640px) {
  body {
    margin: 30px 0;
  }

  .header {
    margin: 0 20px 30px;
  }

}

@media screen and (max-width:425px) {
  .store{
    flex-flow: column;
    text-align: center;
  }

  .store p:nth-child(2) {
    margin-left: 0;
  }

  .main {
    padding: 10px;
    width: calc(100% - 20px);
  }
}