/* 全体 */

body {
  background: #eeeeee;
  margin: 30px calc(50vw - 780px);
  font-family: 'Noto Sans JP', sans-serif;
}

/* header */

.header {
  margin: 0 auto 20px;
}

.header__mark{
  margin-left:0;
}

.header__mark-corp {
  margin: -25px 0 0 65px;
  font-family: 'Chivo', sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #305dff;
}

/* customer / main */

.customer{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0 50px;
}

.main{
  display: flex;
}

/* main - left */

.main__left{
  width: 450px;
}

.main__left-tle{
  font-size: 23px;
  font-weight: 600;
}

.main__left-list{
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main__left-list-card{
  background: #305dff;
  border-radius: 7px;
  padding: 30px 30px;
  color: white;
  width: 400px;
  margin-top: 10px;
}

.main__left-list-card:not(:nth-child(1)) {
  background: #305dff;
  border-radius: 7px;
  padding: 30px 30px;
  color: white;
  width: 400px;
}

.main__left-list-card-top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.main__left-list-card-top-tle{
  display: inline-block;
}

.main__left-list-card-top-tle-img{
  display: inline-block;
}

.main__left-list-card-top-tle-img img{
  width: 15%;
  display:inline-block;
  cursor: pointer;
}

.main__left-list-card-top-left-icon{
  display:inline-block;
  width: 32px;
  height: 32px;
  position: relative;
}

.main__left-list-card-top-left-icon button{
  width: 100%;
  display: inline-block;
  height: 32px;
  border: none ;
  background: transparent;
  background-image: url(../images/clock.jpg) ;
  background-repeat : no-repeat;
}

.main__left-list-card-top-left-icon button:hover {
  background-image: url(../images/update.jpg) ;
}

.main__left-list-card-top-left p{
  display: inline-block;
  margin: 0 0 0 30px;
  font-size: 16px;
  font-weight: normal;
  width: 50px;
  height: 35px;
  vertical-align: middle ;
}

.main__left-list-card-top-link{
  position: relative;
  background-image: url(../images/close32.jpg);
  width:27px;
  height:27px;
  background-size: 27px;
}

.main__left-list-card-top-link:hover {
  background-image: url(../images/close32_y.jpg);
}

.main__left-list-card-top-link img{
  width:80%;
}

.main__left-list-card-line{
  padding: 12px 0 ;
}

.main__left-list-card-line label{
  display: inline-block;
  width: 100px;
  font-size: 16px;
}

.main__left-list-card-line p {
  display: inline-block;
  width: 100px;
  font-size: 16px;
}

.main__left-list-card-btn{
  margin-top: 24px;
  text-align: center;
}

.main__left-list-card-btn a {
  padding: 5px 10px;
  background: #f0f0f0;
  border-radius: 3px;
  color: #1f1f1f;
}

.main__left-list-card-btn a:hover {
  background: #f0f0ff;
  color: #0000ff;
}

/* main - right */

.main__right {
  margin-left: 92px;
  width: 960px;
}

.main__right-tle{
  font-size: 23px;
  font-weight: 600;
}

.main__right-list{
  margin-top: 40px;
  display: flex ;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px 30px;
}

@media screen and (max-width:1640px) {
  body {
    margin: 30px calc(50vw - 600px);
  }

  .main__right {
    width: 630px;
  }
}

@media screen and (max-width:1290px) {
  body {
    margin: 30px calc(50vw - 423px);
  }

  .main__right {
    width: 300px;
  }

  .main__right-list{
    flex-flow: column;
  }
}

@media screen and (max-width:940px) {
  body {
      margin: 30px 0;
  }

  .header {
    margin: 30px 30px;
  }

  .main {
    width: 843px;
    margin: 0 auto;
  }
}

@media screen and (max-width:910px) {
  .main {
    width: 450px;
    flex-flow: column;
  }

  .main__right {
    margin: 50px auto 0;
    width: 300px;
  }
}

@media screen and (max-width:450px) {
  .main__left {
    width: 100%;
  }

  .main__right {
    margin: 50px auto 0;
  }
}

