/* 全体 */

body {
  background: #eeeeee;
  margin: 30px 100px;
  font-family: 'Noto Sans JP', sans-serif;
}

/* header */

.header {
  margin: 0 0 20px;
}

.header__mark {
  margin-left: 0;
}

.header__mark-corp {
  margin: -25px 0 0 65px;
  font-family: 'Chivo', sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #305dff;
}

/* customer */

.customer {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0 50px;
}

/* qrcode */
.qrcode{
  width: 250px;
  margin: 0 auto;
  text-align: center;
}

/* detail */

.detail {
  width: 340px;
  background: #305dff;
  border-radius: 10px;
  color: white;
  padding: 30px 30px;
  margin: 25px auto;
}

.detail__line {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.detail__line:first-child {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.detail__line label {
  width:80px;
}

.detail__btn {
  margin-top: 30px;
  text-align: center;
}

.detail__btn a{
  padding: 5px 15px;
  color:#0f0f0f;
  background: #efefef;
  border-radius: 3px;
}

@media screen and (max-width:600px) {
  body {
    margin: 30px calc(50vw - 200px);
  }
}

@media screen and (max-width:440px) {
  body {
    margin: 30px 0;
  }

  .header {
    margin: 0 0 20px 30px ;
  }
}

@media screen and (max-width:400px) {
  .detail {
    width: calc(100% - 40px);
    padding: 20px 20px;
  }
}