/* index */

body{
  background: #eeeeee;
  margin: 30px 100px;
  font-family: 'Noto Sans JP', sans-serif;
}

/* header */

.header{
  margin: 0 auto 30px;
}

.header__mark-corp{
  margin: -25px 0 0 65px;
  font-family: 'Chivo', sans-serif;
  font-size: 35px;
  font-weight: 700;
  color : #305dff;
}

/* store */

.store {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0 50px;
}

/* main */

.main {
  width: 740px;
  margin: 0 auto;
  overflow-y: auto;
  background: #305dff;
  border-radius: 5px;
  color: white;
  padding: 50px;
}

.main__btn{
  width:100%;
  display:flex;
  justify-content: space-between;
  padding: 0 0 35px 0;
}

.main__btn-savebtn{
  background: white;
  background-image: url(../images/save.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 3px;
}

.main__btn-backbtn {
  background: #fcfcfc;
  background-image: url(../images/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 34px;
  height: 34px;
  border: 1px #cfcfcf solid;
  border-radius: 3px;
}

.main__input1{
  display: flex ;
}

.main__input3 {
  margin-top: 5px;
  display: flex;
}

.main__input1-left{
  width: 320px;
}

.main__input1-right {
  width: 380px;
}

.main__input3-left,
.main__input3-right{
  width: 350px;
}

.main__input3-right {
  margin-left:35px;
  width: 350px;
}

.main__input1-left-line {
  height: 65px;
  vertical-align: middle ;
}

.main__input3-left-line,
.main__input3-right-line {
  height: 50px;
  vertical-align: middle;
}

.main__input1-left-line label, 
.main__input3-left-line label,
.main__input3-right-line label {
  display: inline-block;
  width: 110px;
}

.main__input1-left-line select {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: 1px #cfcfcf solid;
  padding-left: 5px;
  font-size: 13px;
}

.main__input1-right img{
  width: 100%;
  height: 100%;
  margin-left: 40px;
}

.main__input2{
  margin-top : 25px;
  height: 100px;
  vertical-align: middle;
}

.main__input2 label {
  display: inline-block;
  width: 110px;
  vertical-align: top;
}

.main__input2 textarea {
  width: calc(100% - 120px);
  height: 75px;
  border-radius: 5px;
  border: 1px #cfcfcf solid;
  padding-left: 5px 5px;
  font-size: 13px;
}

.main__input3-left-line select {
  width: 85px;
  height: 25px;
  border-radius: 5px;
  border: 1px #cfcfcf solid;
  padding-left: 5px;
  font-size: 13px;
}

.main__input3-left-line p,
.main__input3-right-line p {
  display:inline;
  padding: 0 5px;
}

.main__input3-left-line span,
.main__input3-right-line span {
  padding: 0 5px;
}

.main__input3-left-line input {
  width: 75px;
  height: 23px;
  border-radius: 5px;
  border: 1px #cfcfcf solid;
  padding-left: 10px;
  font-size: 13px;
}

.main__input3-right-line input {
  width: 70px;
  height: 23px;
  border-radius: 5px;
  border: 1px #cfcfcf solid;
  padding-left: 10px;
  font-size: 13px;
}

@media screen and (max-width:940px) {
  body {
    margin: 30px 30px;
  }

  .main {
    padding: 40px;
  }
}

@media screen and (max-width:900px) {
  body {
    margin: 30px 10px;
  }

  .main {
    padding: 30px;
  }
}

@media screen and (max-width:780px) {
  body {
    margin: 30px 5px;
  }

  .main {
    width: 370px;
    padding: 25px;
  }

  .main__input1 {
    flex-flow: column;
  }

  .main__input3 {
    margin-top: 30px;
    flex-flow: column;
  }

  .main__input1-right img {
    margin-left: 0;
  }

  .main__input2 {
    height: 125px;
  }

  .main__input2 textarea {
    height: 125px;
  }

  .main__input3-right {
    margin-left: 0px;
  }
}

@media screen and (max-width:420px) {
  body {
    margin: 30px 0px;
  }

  .header {
    margin: 0 20px 30px;
  }

  .main {
    width: calc(100vw - 30px);
    padding: 15px;
  }

  .main__input1 {
    flex-flow: column;
  }

  .main__input3 {
    margin-top: 30px;
    flex-flow: column;
  }

  .main__input1-right{
    margin-left: -15px;
    width: 100vw;
  }

  .main__input1-right img {
    width: 100%;
  }

  .main__input2 {
    height: 125px;
  }

  .main__input2 textarea {
    height: 125px;
  }

  .main__input3-right {
    margin-left: 0px;
  }
}

@media screen and (max-width:300px) {
  .main {
    width: calc(100vw - 20px);
    padding: 10px;
  }

  .main__input1-left-line select {
    width: 145px;
  }

  .main__input1-right img {
    margin: -10px;
    width: 100%;
  }

  .main__input3-left-line,
  .main__input3-right-line
  {
    width: calc(100vw - 20px) ;
  }

  .main__input3-left-line:nth-of-type(2) {
    height: 80px;
  }

  .main__input3-right-line:nth-of-type(3){
    height: 80px;
  }

  .main__input3-left-line p,
  .main__input3-right-line p {
    display: inline-block;
    padding: 10px 5px 0 120px;
  }

}